@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Poppins:wght@100;200;300;400;500;600&display=swap';

:root {
  --font: 'Poppins';
  --second-font: 'Inter';
  --main-color: 32, 215, 96;
  --background: 32, 215, 96;
  --dark: 13, 18, 22;
  --color: 13, 18, 22
}